.company__dashboard {
    margin-top: 65px;
  }
  
  .heading-for-reg-comp {
    font-size: 1.9642857142857142rem;
    font-family: Lexend;
    font-weight: 500;
    line-height: 1.6;
    color: #3452b4;
  }
 .company-whole-container{
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  
 }
 .company-container{
  width: 40%;
  margin: 0px 20px;
  
 }