.company__container {
  box-shadow: 5px 5px 5px 5px #888888;

  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  width: 255%;
  height: 240px;
  }
  
  .img__container {
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  .img__container:hover {
    transform: scale(1.1);
  }
  
  .img_heights1 {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 90px;
    width: 100px;
    height: 100px;
    
  }
  /* .company-name {
    margin-top: 17px;
    color: #3452b4
    ;
  } */
  .descript-here1{
    position: relative;
    top: 100px;
    left: 0px;
  }
  
  .btn1 {
    background: linear-gradient(45deg, #6495ed 30%, #00008b 90%);
    color: white;
    height: 43px;
    width: 235px;
    font-weight: 600;
    padding: 12px 0px;
    box-shadow: 0px 4px 4px red(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  .btn1:hover {
    background-color: black;
    color: white;
    box-shadow: 8px 8px 5px grey;
    transform: scale(1.1);
  }
  